@import 'primeicons/primeicons.css';

*,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
}

body,
#app {
	min-height: 100vh;

}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	max-width: 1430px;
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
	background-color: inherit;
}

.content {
	padding-top: 100px;
}

.p-fileupload-header {
	flex-wrap: wrap;
}

@media (max-width: 768) {
	.container {
		padding: 0 5px;
	}
}
